%aside
  %ul.levels
    %li{ class: ("active" if params[:id] == "vim-intro")}
      %p Intro
    - lesson.levels.each do |level|
      %li{ class: ("active" if params[:id] == level.name.parameterize)}
        %p= level.name
