%section
  %article

    %h1 Before you start&hellip;

    /%p Vim Genius helps you learn and improve your Vim skills through recall and repetition. 

    %p What's your Vim skill level right now?

    %ul.border
      = link_to "#" do
        %li
          %h1 I'm a beginner
          %p
            You should do our Vim intro course. It's designed to go along with Vim's built in tutorial program, VimTutor. You can learn Vim commands in their natural environment then use VimGenius to quickly cement them in your memory.
      = link_to "#" do
        %li
          %h1 I'm experienced, but I want to learn more
          %p You should select one of our intermediate level lessons.

