%section
  = render 'shared/level_list'

  %article

    %h1 Before you start&hellip;

    %p= lesson.directions.html_safe


    = link_to "Start #{lesson.levels.first.name}", lesson_level_path(lesson, lesson.levels.first), class: "button small"
