%section
  %aside
    %ul.levels
      %li
        %p Intro
      %li.active
        %p Level 1
      %li
        %p Level 2
      %li
        %p Level 3
      %li
        %p Level 4
      %li
        %p Level 5
      %li
        %p Level 6
      %li
        %p Level 7

  %article

    %h1 Congrats, you completed Level 1!

    %dl
      %dt 78%
      %dd Accuracy

    %dl
      %dt 10.0
      %dd Average Time

    .border_box
      %h3 Recap
      %dl.left
        %dt d2w
        %dd Delete two words
        %dt f22
        %dd Deploy F-22 fighter jets
        %dt s3e
        %dd Probably does nothing
        %dt lol
        %dd Open your fave internet meme
      %dl.right
        %dt eee
        %dd Hex code shorthand
        %dt yun
        %dd y u no like vim?
        %dt a22
        %dd We gave up on this one
        %dt htm
        %dd Save your work as .htm

    .border_box.dark
      %h3 Up Next
      %dl.left
        %dt d2w
        %dd Delete two words
        %dt f22
        %dd Deploy F-22 fighter jets
        %dt s3e
        %dd Probably does nothing
        %dt lol
        %dd Open your fave internet meme
      %dl.right
        %dt eee
        %dd Hex code shorthand
        %dt yun
        %dd y u no like vim?
        %dt a22
        %dd We gave up on this one
        %dt htm
        %dd Save your work as .htm

    = link_to "Start Level 2", "#", class: "button"