%section
  %aside
    %ul.levels
      %li.complete
        %p Intro
      %li.complete
        %p Level 1
      %li.complete
        %p Level 2
      %li.complete
        %p Level 3
      %li.complete
        %p Level 4
      %li.complete
        %p Level 5
      %li.complete
        %p Level 6
      %li.complete
        %p Level 7

  %article

    %h1 Congrats, you completed Vim Basics!

    %dl.stats
      %dt 78%
      %dd Accuracy

    %dl.stats
      %dt 10.0
      %dd Average Time

    .border_box
      %h3 Level 7 Recap
      %dl.left
        %dt d2w
        %dd Delete two words
        %dt f22
        %dd Deploy F-22 fighter jets
        %dt s3e
        %dd Probably does nothing
        %dt lol
        %dd Open your fave internet meme
      %dl.right
        %dt eee
        %dd Hex code shorthand
        %dt yun
        %dd y u no like vim?
        %dt a22
        %dd We gave up on this one
        %dt htm
        %dd Save your work as .htm

    %p Now you know Vim Basics!

    = link_to "Save Progress", "#", class: "gray_button small"
    = link_to "Start Next Lesson", "#", class: "button small"
    = link_to "View all Lessons", "#", class: "button small"