@import "mixins"

+font-face("Museo Sans", "MuseoSans_500-webfont")
$museo: "Museo Sans", "Trebuchet MS", sans-serif

body
  font: normal 15px $museo
  color: #9c9c9c
  background: #202020

body.homepage
  background: #131313

a
  color: #5bd0b6
  text-decoration: none
  &:hover
    color: lighten(#5bd0b6, 10%)
    +transition(color, 200ms linear)

code
  font: 14px/30px "Monaco", monospace
  color: #cdcdcd
  white-space: pre-wrap

ul.border
  border: 1px solid #343434
  margin-bottom: 25px
  li
    border-top: 1px solid #343434
    padding: 25px
    &:first-child
      border-top: 0
    h1
      font-size: 16px
      color: #d9d9d9
      margin-bottom: 15px
    p
      color: #626262
      font-size: 14px
      line-height: 24px
      margin-bottom: 0
    &:hover
      background: #0e0e0e
      +transition(background, 200ms linear)

.terminal
  h1
    font: 12px "Lucida Grande", "Lucida Sans Unicode", sans-serif
    color: #3b3b3b
    text-align: center
    background: #bdbebe
    display: block
    padding: 7px 0
    +border-top-radius(10px)
  .entry
    background: #0e0f0f
    padding: 0 0 10px
    width: 100%
    +box-sizing
    +border-bottom-radius(10px)
    code
      color: #998d62
      display: block
      padding: 20px
      margin-bottom: 30px
    .details
      color: #0e0f0f
      background: #8d8d8d
      overflow: auto
      margin-bottom: 20px
      padding: 5px 20px
      width: 100%
      +box-sizing
      p
        font: 13px Monaco, monospace
        padding: 0
        display: block
      .mode
        float: left
      .timer
        float: right

form
  dt
    label
      font: normal 12px $museo
      color: #666666
  input[type="email"]
    font: 12px $museo
    color: darken(#c7c7c7, 10%)
    background: #2c2c2c
    width: 210px
    border: 0
    padding: 5px
    +box-sizing
    &:focus
      color: #c7c7c7
      background: #333333
      outline: 0
  input[type="submit"]
    font: 12px $museo
    color: #000000
    text-align: center
    cursor: pointer
    border: 0
    background: #6f6e6e
    padding: 5px 15px
    &:hover
      background: lighten(#6f6e6e, 10%)
      +transition(background, 200ms linear)

.button
  background: #5bd0b6
  font-size: 21px
  color: #202020
  text-align: center
  padding: 20px 85px
  margin: 25px 0 35px
  display: inline-block
  &:hover
    color: darken(#202020, 10%)
    background: lighten(#5bd0b6, 10%)
    +transition(color, background 200ms linear)

.small
  font-size: 16px

.success
  p
    float: left
  a
    font-size: 15px
    color: #131313
    display: block
    background: #5fd483
    margin: -10px 0 0
    padding: 10px 20px
    float: right
    &:hover
      background: lighten(#5fd483, 10%)
      +transition(background, 200ms linear)
  +flash_message(#5fd483, #2e3e33, checkmark)
  overflow: auto
  padding-right: 10px
  padding-bottom: 10px

.error
  +flash_message(#db6353, #342f2e, x)

header
  background: #131313
  padding: 15px 0
  overflow: auto
  h1
    float: left
    display: block
    a
      background: transparent image-url("vg_logo.png") center left no-repeat
      text-transform: uppercase
      height: 25px
      padding: 10px 0 0 35px
      display: block
      letter-spacing: -1px
      span
        color: #949494
      &:hover span
        color: lighten(#949494, 10%)
  .headerlink
    font-size: 11px
    float: left
    margin: 12px 0 0 55px
    text-transform: uppercase
  .session
    float: right
    margin-top: 5px
    fieldset, dt, dd
      display: inline-block
    dl
      dt
        margin-right: 10px
      dd
    .actions

.container
  background: #202020

section
  width: 1000px
  margin: 0 auto
  position: relative
  aside
    float: left
    width: 170px
    padding-right: 20px
    +box-sizing
    ul
      &.levels
        border-left: 5px solid #131313
        margin-left: 13px
      li
        color: #919695
        font-size: 12px
        padding: 30px 0 0 20px
        position: relative
        text-transform: uppercase
        &:before
          content: ''
          background: #919695
          border: 4px solid #131313
          width: 11px
          height: 11px
          position: absolute
          left: -12px
          top: 27px
        &.active
          color: #56c3ab
          &:before
            background: #5bd0b6
        &.complete
          color: darken(#56c3ab, 20%)
          &:before
            background: darken(#56c3ab, 20%)

  article
    float: left
    padding-top: 35px
    width: 830px
    > h1
      color: #5bd0b6
      font-size: 25px
      margin-bottom: 20px
    p
      line-height: 24px
      margin-bottom: 15px
  &#home
    overflow: auto
    padding-bottom: 45px
    > article
      float: left
      width: 50%
      padding-top: 55px
      h1
        font-size: 42px
        color: #5bd0b6
        margin-bottom: 20px
      > p
        font-size: 18px
        line-height: 32px
        &.small
          font-size: 12px
          line-height: 21px
          color: #5d5d5d
    .terminal
      margin-top: 53px
      position: absolute
      right: 0
      width: 45%


footer
  padding: 40px 0
  overflow: auto
  +box-sizing
  .border-link
    font-size: 13px
    border: 1px solid #282828
    padding: 20px
    display: inline-block
    &:hover
      background: #0e0e0e
      +transition(background, 200ms linear)
  .credits
    font-size: 13px
    color: #555555
    float: right
    margin-top: 21px
    a
      color: lighten(#555555, 15%)
      &:hover
        color: lighten(#555555, 25%)
        +transition(color, 200ms linear)